<a href="https://colab.research.google.com/github/daxshana/Contact-Us/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
def is_even_or_odd(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"


print(is_even_or_odd(10))
print(is_even_or_odd(7))

Even
Odd

In [8]:
def check_age_category(age):
    if age < 18:
        return "Minor"
    elif 18 <= age <= 64:
        return "Adult"
    else:
        return "Senior"


print(check_age_category(15))
print(check_age_category(30))
print(check_age_category(70))

Minor
Adult
Senior

In [ ]:
def temperature_advice(temp_celsius):
    if temp_celsius > 30:
        return "Hot"
    elif 15 <= temp_celsius <= 30:
        return "Warm"
    else:
        return "Cold"


print(temperature_advice(35))
print(temperature_advice(25))
print(temperature_advice(10))

In [9]:
def evaluate_grade(score):
    if 90 <= score <= 100:
        return "A"
    elif 80 <= score < 90:
        return "B"
    elif 70 <= score < 80:
        return "C"
    elif 60 <= score < 70:
        return "D"
    else:
        return "F"


print(evaluate_grade(95))
print(evaluate_grade(85))
print(evaluate_grade(72))
print(evaluate_grade(65))
print(evaluate_grade(50))

A
B
C
D
F

In [10]:
def sum_list(numbers):
    return sum(numbers)


print(sum_list([1, 2, 3, 4, 5]))

15

In [11]:
def print_multiples(n):
    for i in range(1, 11):
        print(f"{n} x {i} = {n * i}")


print_multiples(5)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [12]:
def reverse_string(s):
    return s[::-1]


print(reverse_string("hello"))

olleh

In [13]:
def count_vowels(string):
    vowels = "aeiouAEIOU"
    count = 0
    for char in string:
        if char in vowels:
            count += 1
    return count


print(count_vowels("Hello World"))

3

In [14]:
def countdown(n):
    while n > 0:
        print(n)
        n -= 1

countdown(5)

5
4
3
2
1

In [16]:
def calculate_factorial(n):
    factorial = 1
    while n > 0:
        factorial *= n
        n -= 1
    return factorial


print(calculate_factorial(5))

120

In [17]:
def fibonacci_sequence(n):
    a, b = 0, 1
    count = 0
    while count < n:
        print(a, end=" ")
        a, b = b, a + b
        count += 1


fibonacci_sequence(10)

0 1 1 2 3 5 8 13 21 34

In [18]:
def to_uppercase(s):
    return s.upper()

print(to_uppercase("hello"))

HELLO

In [19]:
def square_number(n):
    return n * n


print(square_number(4))

16

In [20]:
def is_palindrome(s):
    return s == s[::-1]


print(is_palindrome("radar"))
print(is_palindrome("hello"))

True
False

In [21]:
def find_maximum(numbers):
    return max(numbers)


print(find_maximum([1, 5, 2, 9, 7]))

9